body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    padding: 0;
    margin: 0
}

footer {
    background-color: darkgrey;
}

@media (min-width: 700px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px
    }
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 18px;
}

nav a {
    text-decoration: none
}

main {
    display: flex;
    flex-direction: column;
    gap:20px;
    margin:10px
}